<div class="about-me-body" id="aboutMe">
  <div class="outer-contain">
    <div class="left-contain">
      <span class="header"
        >Let's work <br />
        together</span
      >
    </div>

    <div class="right-contain">
      <span
        >My passion is development. So i would like to deepen my knowledge in
        the field of frontend development and I am looking for a chance to join
        an interesting team, to support this team and develop professionally.
        <br />
        If you think I´d be a good match for your projects,
        <a href="#contactMe">contact me</a> .
      </span>
    </div>
  </div>
</div>
