<div class="main-contain" id="home">
  <div>
    <div class="left-main">
      <div class="left-inner">
        <img class="profil-img" src="./assets/img/me-main.png" alt="" />
      </div>
    </div>

    <div class="right-main">
      <div class="right-inner">
        <span class="first-line">Hello! I am Maik</span>
        <span class="header">FRONTEND</span>
        <span class="header">DEVELOPER</span>
      </div>
    </div>
    <div class="scroll">
      <a href="#aboutMe"><span>SCROLL</span></a>
    </div>
  </div>

  <div class="social-icons">
    <a href="https://github.com/MaikroX" target="#"
      ><img src="./assets/img/socials/github.png" alt=""
    /></a>

    <a href="#contactMe"><img src="./assets/img/socials/email.png" alt="" /></a>

    <a href="https://www.linkedin.com/in/maik-langer-7a443a23b/" target="#"
      ><img src="./assets/img/socials/linkedin.png" alt=""
    /></a>
  </div>
</div>
